main{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin:auto;
    width:100% ; 
    grid-template-rows: (3,9fr);
    grid-template-areas:
    "img 1 img1 img1 img 1"
    "img2 img 2 img2 img2";
    background-position:"center";
background-color: $color-secundario;
}
.img1{
    width: 450px;
    height: 300px;
}
.img2{
    width: 450px;
    height: 300px;
}
.img3{
    width: 450px;
    height: 370px;
}
.img4{
    width: 450px;
    height: 340px;
}

.navBar li a{
    display: flex table-row;
    text-align: center;
    margin: 20px 8px;
    list-style:none;
    text-decoration:none;
        color:black
    }